/* Main instagram feed container */
.instagram-container {
    margin: 0 auto;
    padding-top: 60px;
    flex-direction: column;
    position: relative;
    display: flex;
    max-width: 614px;
    width: 100%;
    flex-grow: 1;
    align-items: stretch;
    box-sizing: border-box;

    word-wrap: break-word;
}

.card {
    margin-bottom: 60px;
    padding: 0;

    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-left: -1px;
    margin-right: -1px;
}

.dropdown-options {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 8em;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.show {
    display: block;
}

.add-comment-balloon {
    margin-left: 15px;
    padding-left: 0;
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
}

.add-comment-balloon:focus {
    outline: none;
}

.created-time {
    font-weight: lighter;
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Comment field and buttons*/
.textfield-comment {
    display: flex;
    margin-top: 10px;
    padding: 0;

    border: 0;
    background: 0 0;
    color: #262626;
    height: 20px;
    max-height: 80px;
    font-size: inherit;
    outline: 0;
    resize: none;
}

.input-comment-create {
    display: none;
}

.comment-container-div {
    padding-top: 10px;
}

.comment-container-div p {
    height: fit-content;
    margin-bottom: auto;
    font-size: calc(0.3vw + 12px);
}

.comment-button-container form {
    display: inline-block;
}

.comment-button-container form button {
    padding: 0;
    font-size: smaller;
}