{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block style-head %}
    <link rel="stylesheet" type="text/css" href="{% static 'instagrams/css/feed_list_style.css' %}">
{% endblock %}

{% block content %}
    {# 최상위 컨테이너  #}
    <div class="instagram-container">
        {% for instagram in object_list %}

            {# 각 instagram을 실질적으로 나타낼 div #}
            <div class="card">
                {# Bootstrap내장 container-fluid를 사용한다#}
                <div class="container-fluid">
                    {# 1. 첫번째 row: 단순히 작성자 정보를 나타낸다. #}
                    <div class="row">
                        <div class="col-9">
                            <span>{{ instagram.author.username }}</span>
                        </div>
                        <div class="col-3 text-right">
                            {# 드롭다운 옵션들을 넣어줄 컨테이너 #}
                            <div class="dropdown-options">
                                {# 먼저 아이콘을 뿌려준다. #}
                                <i class="fas fa-ellipsis-v"></i>
                                <div class="dropdown-content text-center">
                                    {# 수정하기는 단순히 수정 view로 리다이렉트한다 #}
                                    <a href="{% url 'instagrams:feed-update' instagram.pk %}">수정하기</a>
                                    {# 삭제하기는 아예 form으로 넘겨서 삭제 확인창 없이 한번에 처리한다. #}
                                    <form action="{% url 'instagrams:feed-delete' instagram.pk %}" method="post">{% csrf_token %}
                                        {# 어디서 많이 본 패턴이다. #}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <input type="submit" onclick="return confirm('정말 삭제하시겠습니까?')" class="delete-instagram btn-link" value="삭제하기"></input>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# 2. 2번째 row: 업로드한 사진들이 들어간다. #}
                    {# TODO: Add Carousel #}
                    <div class="photo-container row">
                        {% for instagram_photo in instagram.photos.all %}
                            <div class="photo-carousel">
                                <img src="{{ instagram_photo.photo.url }}"/>
                            </div>
                        {% endfor %}
                    </div>
                    {# 3. 3번째 row: 말풍선 모양 버튼들이 들어간다. 추후 좋아요 등을 구현하면 여기에 넣는다.  #}
                    <div class="button-container row">
                        {# TODO: 말풍선 모양 icon 넣고 댓글입력창과 연동한다. #}
                        <button class="add-comment-balloon">TEST BUTTON</button>
                    </div>
                    {# 4. 4번째 row: 업로더 정보가 한번 더 나타나고 내용이 들어간다. #}
                    <div class="description-container row">
                        <div class="uploader col-3">{{ instagram.author.username }}</div>
                        <div class="content col-9">{{ instagram.content }}</div>
                    </div>
                    {# 5. 5번째 row: 현재 인스타그램에 달린 댓글들이 리스트로 표현되어 들어간다. #}
                    <div id="comment-container-div" class="row">
                        <div class="comments-list col-12">
                            {% for comment in instagram.comments.all %}
                                <li class="comment">
                                    <span>{{ comment.author }}</span>
                                    <span>{{ comment.content }}</span>
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                    {# 6. 6번째 row: instagram 작성 시간이 현재시간과의 '시간차'로 나타난다. #}
                    {# TODO: 시간차로 나타내기 #}
                    <div class="created-time row">
                        <div class="col-12">{{ instagram.created }}</div>
                    </div>
                    {# 7. 7번째 row: 댓글 입력 form이 들어간다#}
                    <div id="comment-creator-div" class="row">
                        <div class="comments-form col-12">
                            {# TODO: action을 채워넣어서 댓글이 달리도록 하자. #}
                            <form action="#" method="post">{% csrf_token %}
                                {{ comment_form | crispy }}
                                <input class="input-comment-create" style="display: none;" type="submit" class="btn btn-secondary"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'instagrams/js/feed_list_js.js' %}"></script>
{% endblock %}